{
    "extends": "@istanbuljs/nyc-config-typescript",
    "include": ["src/**/*.ts"],
    "exclude": [
        "src/myModule.ts"
    ],
    "extension": [".ts"],
    "reporter": ["text","html"],
    "report-dir": "./coverage",
    "all":true
}